*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}


.contenedor{
    background-color: rgb(114, 95, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.caja{
    width: 800px;
    height: 58vh;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    position: relative;
    overflow: hidden;
    
}

.img1{
    width: 50%;
    
}

.img1 img{
    width: 381px;
    height: 280px;
    position: absolute;
    left: -8%;
    top: 15%;    
    
    
}

.img2 img{
    width: auto;
    height: 100vh;
    position: absolute;
    left: -61%;
    top: -52%;
}

.img3 img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: -9%;
    top: 38%;
    
}

.accordion-container{
    width: 50%;
    padding: 40px 90px 35px 0px;
    
}


.accordion h2{
    text-align: justify;
    font-weight: bold;
    margin-bottom: 10px;
}

.accordion-body{
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
}

.accordion-item button{
    color: rgb(155, 155, 155);
    font-size: 16px;
    background: none;
}

.accordion-header{
    height: 40px;
}

@media  (max-width: 900px) {

    .caja{
        width: 700px;
        height: 55vh;
    }
}


@media  (max-width: 760px) {

    .caja{
        width: 340px;
        height: 70vh;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        overflow: visible;
        padding: 0;
    }

    .img1{
        width: 100%;
    }

    .img1 img{
        width: 250px;
        height: 200px;
        position: absolute;
        top: -24.5%;
        left: 13.5%;
    }

    .img2 img{
        width: 250px;
        height: 250px;
        position: absolute;
        top: -28%;
        left: 13.5%;
        
    }

    .img3 img{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 12%;
        top: -10%;
        
    }

    .accordion-container{
        width: 90%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 60px 0px 0px 30px;
       
    }

    .accordion h2{
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .accordion-body{
        font-size: 12px;
        font-weight: 300;
        color: #ccc;
    }
    
    .accordion-item button{
        color: rgb(155, 155, 155);
        font-size: 14px;
        background: none;
    }

    .accordion-header{
        height: 35px;
    }
}